.project-card-main {
    display: block;
    border-radius: 10px;
    box-shadow: 13px 13px 6px rgba(0,0,0,0.2);
    padding: 30px;
    margin-bottom: 30px;
    background-color: #212223;
    color: #f1f2f3;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.project-card-main:hover {
    box-shadow: 0 4px 8px rgba(38,38,38,0.2);
    background-color: #4a4b4c;
}

.project-card-main-disabled {
    display: block;
    border-radius: 10px;
    box-shadow: 13px 13px 6px rgba(0,0,0,0.2);
    padding: 30px;
    margin-bottom: 30px;
    background-color: #212223;
    color: #f1f2f3;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-out;
}



.project-card-main .card-image-box {
    width: 100%;
    height: 100%;
}

.project-card-main .card-image {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 10%;
    object-fit: contain; /* 또는 cover, fill, scale-down */
}

.project-card-main-disabled .card-image-box {
    width: 100%;
    height: 100%;
}

.project-card-main-disabled .card-image {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 10%;
    object-fit: contain; /* 또는 cover, fill, scale-down */
}



.project-card-main .card-title {
    font-size: 25px;
    font-weight: 500;
}

.project-card-main-disabled .card-title {
    font-size: 25px;
    font-weight: 500;
}



.project-card-main .card-desc {
    line-height: 1.4;
    margin-top: 30px;
    overflow-y: scroll; /* 스크롤바를 항상 표시 */
    font-size: 20px;
    font-weight: 300;
    color: #c1c2c3;
    cursor: pointer; /* 스크롤 가능 힌트 */
    /* 삭제할 부분 */
    /* display: -webkit-inline-box; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 2; */
}

.project-card-main-disabled .card-desc {
    line-height: 1.4;
    margin-top: 30px;
    overflow-y: scroll; /* 스크롤바를 항상 표시 */
    font-size: 20px;
    font-weight: 300;
    color: #c1c2c3;
    /* 삭제할 부분 */
    /* display: -webkit-inline-box; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 2; */
}





@media screen and (max-width: 1380px) {
    .project-card-main .card-title {
        font-size: 22px;
    }
    .project-card-main .card-desc {
        font-size: 16px;
    }
    .project-card-main-disabled .card-desc {
        font-size: 16px;
    }
}